
nav {

    margin-top: 1%;
    margin-bottom: 1%;
    height: 60px;
    font-size: larger;

}


/* part "My Projects" */


.project{
    display: grid;
    grid-template-columns: 28% 28% 28% ;
    grid-template-rows: 50% 20%;
    width: 75%;
   
    margin: auto;
    justify-content: space-between;
   
}


 .wireframe , .mockup , .bootstrap{
    border: 1px solid rgb(101, 101, 99);
    height: 300px;
    border-radius: 180px;
    transition: 2s;
    cursor: pointer;

 }
 .mockup{
    background-image:url(../images-project/together.JPG) ;
    background-size: contain;
    background-position:30%;
    
}
 .wireframe{
    background-image:url(../images-project/wire.JPG) ;
    background-size: 100%
    
 }
.bootstrap{
    background-image:url(../images-project/bootstrap.JPG) ;
    background-size:cover ;
    background-repeat: no-repeat;

}

 .text{
 margin-left: 35%;
 font-size: x-large;
 font-weight: 600;
 margin-top: 35%;
 cursor: pointer;
 color: black;

}

.mockup:hover , .wireframe:hover , .bootstrap:HOVER {transform: scale(1.08);}




/* Part "My Tasks" */


.task{
    display: grid;
    margin-left: 8%;
    grid-template-columns: 30% 30% 30%;
    height: 400px;
    justify-content: space-evenly;
    width: 80%;
    
   
}
.task .responsive:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}
.task .flex:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}.task .grid:hover{
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}


.responsive , .flex , .grid{
   
    border: 3px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
   text-align: center;
    font-size: larger;
    font-weight: 700;
    color: black;
   
    
}



/* Tasks image */


.flex img{
    width: 90%;
    height: 250px;
    margin-bottom:5%;
    margin-left:5%;
    border: rgb(217, 214, 214) 1px solid;
    
}
.responsive img{
    width: 90%;
    height: 250px;
    margin-bottom: 5%;
    margin-left: 5%;

}

.grid img{
    width: 90%;
    height: 250px;
    margin-left: 5%;
}



/* text style */


.task-title{
    width: 100%;
    text-align: center;
    background-color: rgb(252, 252, 236);
    margin-bottom: 5%;

    font-size: xx-large;
    font-weight: bolder;
    height: 60px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}




 .visit{
    margin-top:8%;
    display: flex;
    justify-content: center;
 }
 .visit a{
    font-size: larger;
    font-weight: 600;
    border: 10px double  #1ed6e7;
    height: 100px;
    width: 40%;
    padding-top: 1.5%;
    text-align: center;
    margin-top: 3%;
    color: #bfbfc4;
    
 }
 .visit a:hover{
    color: blue;
    
 }



.visit img{
    width: 200px;
    height: 380px;
}




/* footer */


footer{
    background-color: rgb(148, 147, 147);
    height: 150px; 
   margin-top: 4%;
}

.page-components{
 padding-top: 3%;
 padding-bottom: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.page-components div{
  width: 10%;
 
}

.contact{
 display: flex;
 display: flex;
  justify-content: center;
  align-items: center;
  opacity: 50%;
  cursor: pointer;


}
.contact .mail:hover {
 color: blue;
}
.contact .phone:hover{
 color: blue;
}
.contact .location:hover{
 color: blue;
}

.contact .mail{
 width: 20%;

}

.contact .phone{
 width:10%;
}

.contact .location{
 width: 11%;
}

.contact img{
 width: 20px;
 height: 20px;
}


a{
  text-decoration: none;
 color: white;
 font-weight: 800;
}









 @media screen and (max-width: 550px){
 
  .project{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    grid-template-rows: 50% 20%;
    width: 100%;
    margin: auto;
    justify-content: space-around;
   
}

.wireframe , .mockup , .bootstrap{
    margin-top: 20%;
    height: 100px;
 }
 
 .text{
    margin-left: 20%;
    font-size: small;
 
   }

   .task-title{
    margin-bottom: 5%;
    font-size:large;
    font-weight: bolder;
    height: 40px;
}

.task{
    display: grid;
   
    grid-template-columns: 40%;
    height: 550px;
    justify-content: space-evenly;
    align-content: space-around;
    width: 500px;
    margin-left: -70px;
    
   
}
.responsive , .flex , .grid{
   
    border: 3px dotted black;
    font-size: medium;
    font-weight: 500;
    
   
}


.flex img{
    width: 90%;
    height: 110px;
    
}
.responsive img{
    width: 90%;
    height: 110px;
}

.grid img{
    width: 90%;
    height: 110px;
    margin-top: 5%;

}



.visit img{
    width: 80px;
    height: 180px;
    margin-left: 2%;
}

.visit a{
    font-size:x-small;
    text-align: left;
 
    height: 70px;
    width: 45%;
    padding-top: 1.5%;
    text-align: center;
    margin-top: 3%;
    color: #bfbfc4;
    
 }

 .visit{
    margin-left: 8%;
    margin-top:8%;
 }





   /* footer */
    
   footer {
    background-color: rgb(148, 147, 147);
    height: 150px;
    width: 100%;
    margin-top: 4%;
}

.page-components {
    padding-top: 3%;
    padding-bottom: 2%;

    display: inline-flex;
    flex-direction: column;
    justify-content:left;
    align-content: space-between;
    width: 50%;
}

.page-components div {
    width: 60%;
    font-size: small;
    height: 24px;


}


.contact {
    
    display: inline-flex;
    flex-direction: column;
    justify-content: left;
    align-content: left;

    margin-left: -20%;
    margin-top: 5%;



}



.contact .mail {
    width: 10%;
    font-size: x-small;
 
 }
 
 .contact .phone {
    width: 5%;
    font-size: x-small;
    margin-left: -8%;
    margin-bottom: 7%;
 }
 
 .contact .location {
    width:70%;
    font-size: x-small;
    margin-left:50%;
    margin-bottom:8%;
   
    
 }




   

}


@media screen and (min-width:551px) and ( max-width: 920px){

    .project{
        display: grid;
        grid-template-columns: 32% 32% 32% ;
        grid-template-rows: 50% 20%;
        width: 90%;
        margin: auto;
        justify-content: space-between;
       
    }
    
.wireframe , .mockup , .bootstrap{
    margin-top: 20%;
    height:200px;
 }
 .task{
    display: grid;
    margin-left: 8%;
    grid-template-columns: 32% 32% 32%;
    height: 300px;
    justify-content: space-evenly;
    width: 85%;
    
   
}


.responsive , .flex , .grid{
   
    border: 3px dotted black;
    font-size: large;
    font-weight: 500;
    
   
}
.flex img{
    width: 90%;
    height: 180px;
    margin-left: 5%;
    margin-bottom: 10%;
  
    
}
.responsive img{
    width: 90%;
    height: 180px;
    margin-bottom: 10%;
}

.grid img{
    width: 90%;
    height: 180px;
    margin-top: 5%;

}


.visit img{
    width: 150px;
    height: 280px;
    margin-left: 2%;
}

/* footer */


footer {

    height: 140px;
 
}



.page-components div {
    width: 19%;


}




.contact .mail {
    width: 33%;

}

.contact .phone {
    width: 20%;
}

.contact .location {
    width: 25%;
}







}




